@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");
/* FONTS */
@font-face {
  font-family: "font-arcane";
  src: url("../assets/fonts/arcane_font.woff2") format("woff2"), url("../assets/fonts/arcane_font.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
/* COULEURS */
/* Fond principal, arrière-plan sombre */
/* 	Titres, boutons, accents dorés (effet steampunk) */
/* 	Titres, boutons, accents dorés (effet steampunk) */
/* 	Détails lumineux (effet chimique, ambiance Zaun) */
/* Effets lumineux, bordures, hover states*/
/* Accent contrastant (ex. : survol d’un bouton, alerte) */
/* Arrière-plans secondaires, textes en retrait */
@keyframes glow {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.5);
  }
  100% {
    filter: brightness(1);
  }
}
#hero-title {
  animation: glow 7.5s infinite;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scrollbar-gutter: stable;
  overflow-y: scroll;
  overflow-x: hidden;
  scroll-snap-type: y proximity;
}

body {
  background-color: #0d0d0d;
  scrollbar-gutter: stable;
  overflow: hidden;
  scroll-snap-type: y proximity;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  color: red;
}

#navigation-container {
  display: flex;
  width: 100%;
  position: fixed;
  height: 70px;
  z-index: 100;
  top: 0;
  left: 0;
  padding-top: 1vh;
  height: 4vh;
  align-items: center;
  justify-content: center;
}
#navigation-container #navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
  height: 100%;
  width: 65vw;
}
#navigation-container #navbar .navigation-menu {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
#navigation-container #navbar .navigation-menu .nav-link {
  height: 100%;
  display: flex;
  align-items: center;
  transition: transform 0.2s ease-in;
}
#navigation-container #navbar .navigation-menu .nav-link a {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(255, 255, 255);
  font-family: "Poppins", serif;
}
#navigation-container #navbar .navigation-menu .nav-link:hover {
  transform: scale(1.3);
}

#navbar::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 10%;
  width: 80%;
  height: 2.5px;
  border-radius: 25px;
  background-color: white;
}

/* ----- HERO BANNER ----- */
#hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
}
#hero-banner #hero-video {
  width: 100vw;
  position: absolute;
  -o-object-fit: cover;
     object-fit: cover;
  will-change: transform;
  height: 100vh;
  z-index: -1;
}
#hero-banner #logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
}
#hero-banner #logo-container #hero-title {
  width: 50vw;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  pointer-events: none;
  margin-bottom: 2vh;
}
#hero-banner #hero-info {
  padding-top: 3vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hero-banner #hero-info .hero-btn-decouv {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 130px;
  height: 40px;
  border-radius: 25px;
  background: linear-gradient(to right, #b58646, #e0b96b);
  border: none;
  transition: all 1s ease-in-out;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.3));
  transform-origin: center;
}
#hero-banner #hero-info .hero-btn-decouv a {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  text-align: center;
  font-size: 12px;
  text-decoration: none;
  color: white;
}
#hero-banner #hero-info .hero-btn-decouv a .hero-button-svg {
  fill: rgb(255, 255, 255);
  width: 24px;
  height: auto;
  vertical-align: middle;
  transition: transform 0.25s ease-out;
}
#hero-banner #hero-info .hero-btn-decouv a span {
  font-size: 12px;
  font-weight: bold;
  background-clip: border-box;
  text-transform: uppercase;
  line-height: 0;
  font-family: "Roboto", serif;
  vertical-align: middle;
}
#hero-banner #hero-info .hero-btn-decouv:hover {
  filter: drop-shadow(0 6px 10px rgba(0, 0, 0, 0.5));
}
#hero-banner #hero-info .hero-btn-decouv:hover .hero-button-svg {
  transform: translateX(5px);
}

.section-info {
  width: 100vw;
  height: 100vh;
  background-color: #0d0d0d;
  scroll-snap-align: end;
}

.highlist-word {
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

/*---- DECOUVRIR ---- */
#discover {
  width: 100vw;
  height: 100vh;
  position: relative;
  z-index: 3;
  overflow: hidden;
  scroll-snap-align: start;
}

#div-discover {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  z-index: 4;
  max-width: 2500px;
  margin: 0 auto;
}
#div-discover .discover-head,
#div-discover .section-head {
  padding-left: 2vw;
  width: 100%;
  max-height: 300px;
  line-height: 1;
  margin-bottom: 5vh;
}
#div-discover .discover-head .title-discover,
#div-discover .discover-head .title,
#div-discover .section-head .title-discover,
#div-discover .section-head .title {
  vertical-align: middle;
  line-height: 1;
  color: white;
  font-size: 5rem;
  font-family: "font-arcane";
  display: flex;
  justify-content: flex-start;
  gap: 1rem;
  padding-top: 1vh;
  margin: 0;
  text-transform: uppercase;
  align-items: center;
}
#div-discover .discover-head .title-discover img,
#div-discover .discover-head .title img,
#div-discover .section-head .title-discover img,
#div-discover .section-head .title img {
  margin-bottom: -3px;
  vertical-align: middle;
  width: 20rem;
}
#div-discover .discover-head .discover-subtitle,
#div-discover .section-head .discover-subtitle {
  color: white;
  font-size: 0.8vw;
  width: 80%;
  line-height: 1.5;
  font-family: "Playfair Display", serif;
}
#div-discover .discover-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  align-items: flex-end;
}
#div-discover .discover-content .discover-content-left {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-basis: 40%;
}
#div-discover .discover-content .discover-content-left .discover-content-left-main {
  flex-basis: 70%;
  max-width: 730px;
  display: flex;
  flex-grow: 1;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
#div-discover .discover-content .discover-content-left .discover-content-left-main p {
  color: white;
  font-size: clamp(20px, 1.2vw, 2rem);
  text-transform: uppercase;
  width: 100%;
  line-height: 2.5;
  height: auto;
  text-align: justify;
  font-family: "Lora", serif;
  padding: clamp(10%, 3vh, 10%) 0 0 0;
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left {
  width: 100%;
  height: 100%;
  flex-basis: 5%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left .discover-btn-more {
  width: 250px;
  height: 50px;
  border-radius: 25px;
  background: transparent;
  border: 4px solid #b58646;
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left .discover-btn-more a {
  width: 100%;
  height: 100%;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left .discover-btn-more a span {
  font-weight: bold;
  font-family: "Roboto", serif;
  text-transform: uppercase;
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left .discover-btn-more a svg {
  width: 24px;
  fill: #e0b96b;
  transition: all 0.25s ease;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
#div-discover .discover-content .discover-content-left .discover-content-sub-left .discover-btn-more:hover svg {
  animation: pulse 1s infinite;
}
#div-discover .discover-content .discover-content-right {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-basis: 65%;
  flex-grow: 1;
}
#div-discover .discover-content .discover-content-right .splide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
#div-discover .discover-content .discover-content-right .splide .splide__track {
  width: 85%;
  height: 85%;
}
#div-discover .discover-content .discover-content-right .splide .splide__track .splide__list {
  list-style: none;
  width: 100%;
  height: 100%;
}
#div-discover .discover-content .discover-content-right .splide .splide__track .splide__list li {
  width: 100%;
  height: 100%;
}
#div-discover .discover-content .discover-content-right .splide .splide__track .splide__list li .slide_div {
  width: 100%;
  height: 50vh;
  border-radius: 15px;
  background: #b58646;
  opacity: 1;
  position: relative;
  overflow: hidden;
}
#div-discover .discover-content .discover-content-right .splide .splide__track .splide__list li .slide_div .slide_img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#div-discover .discover-content .discover-content-right #discover-progress-bar-container {
  width: 100%;
  height: 100%;
  flex-basis: 5%;
  min-height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#div-discover .discover-content .discover-content-right #discover-progress-bar-container #progress-bar {
  width: 70%;
  height: 6px;
  border-radius: 50px;
  background-color: white;
}
#div-discover .discover-content .discover-content-right #discover-progress-bar-container #progress-bar #progress {
  height: 100%;
  width: 0%;
  background: linear-gradient(to right, #b58646, #e0b96b);
  border-radius: 50px;
  transition: width 0.5s ease-out;
}

.transition-quote {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  opacity: 0;
  z-index: 6;
  pointer-events: none;
  justify-content: center;
  flex-direction: column;
  transition: transform 1.2s ease-out, opacity 0.2s;
  text-transform: uppercase;
  gap: 2vh;
  padding: 0 2% 0 2%;
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.quote-text {
  font-size: clamp(2rem, 2vw, 2vw);
  transition: scale 1s ease;
  text-align: center;
  line-height: 1.5;
}

.author {
  font-size: clamp(2rem, 1vw, 1vw);
}

/*---- CREATION ---- */
#creation {
  max-width: 2500px;
  margin: 0 auto;
  width: 100vw;
  height: auto;
  position: relative;
  z-index: 5;
}
#creation #createurs {
  display: flex;
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
  margin-bottom: 200vh;
  position: relative;
  height: auto;
  flex-direction: column;
  background-color: #0d0d0d;
}
#creation #createurs #creator-paragraph-entry-container {
  width: 100vw;
  height: 100vh;
  background-color: red;
  display: flex;
  max-width: 2500px;
  margin: 0 auto;
  background: #0d0d0d;
  justify-content: center;
  align-items: center;
}
#creation #createurs #creator-paragraph-entry-container .p-entry-creator {
  color: white;
  font-weight: bold;
  line-height: 2;
  font-size: 1.5vw;
  text-transform: uppercase;
  text-align: justify;
  width: 50%;
  height: 50%;
}
#creation #createurs #creator-fixed-background {
  background-image: url(../assets/image/creation/creator/Vi-powder-piltover_night-background.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  width: 100vw;
  margin: 0 auto;
  max-width: 2500px;
  transition: opacity 1s ease;
  height: 100vh;
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
}
#creation #createurs #creator-fixed-background .cache {
  width: 100vw;
  height: 20vh;
  background: linear-gradient(to top, rgb(0, 0, 0), transparent);
}
#creation #createurs #creator-fixed-background .cache-top {
  background: linear-gradient(to bottom, rgb(0, 0, 0), transparent);
}
#creation #createurs #creator-content {
  width: 100vw;
  max-width: 2500px;
  height: 200vh;
  display: flex;
  flex-direction: column;
  background: none;
  z-index: 10;
  margin: 0 auto;
  gap: 200px;
}
#creation #createurs #creator-content .div-creator-subsection {
  width: 100vw;
  height: 100vh;
  max-height: 1000px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#creation #createurs #creator-content .creator-description {
  color: white;
  line-height: 2;
  text-transform: uppercase;
  text-align: justify;
  font-size: clamp(1rem, 1.3vw, 32px);
}
#creation #createurs #creator-content .creator-container {
  padding: 20px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2vh;
}
#creation #createurs #creator-content .creator-container .img-container {
  width: 100%;
  border-radius: 25px;
  overflow: hidden;
}
#creation #createurs #creator-content .creator-container .img-container img {
  width: 100%;
}
#creation #createurs #creator-content .creator-container .information-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 1vw;
  gap: 5px;
}
#creation #createurs #creator-content .creator-container .information-container span {
  color: white;
  text-transform: uppercase;
}
#creation #createurs #creator-content .creator-container .information-container .span-information-creator {
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  font-size: clamp(5rem, 5vw, 50px);
}
#creation #createurs #creator-content .creator-container .information-container .span-sub-information-creator {
  font-size: clamp(1.5rem, 3vw, 24px);
  font-weight: lighter;
}
#creation #createurs #creator-content #div-creator-chlinke {
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
}
#creation #createurs #creator-content #div-creator-chlinke #creator-content-left-chlinke {
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12%;
  flex-direction: column;
  flex-grow: 1;
}
#creation #createurs #creator-content #div-creator-chlinke #creator-content-right-chlinke {
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 15% 4vw;
}
#creation #createurs #creator-content #div-creator-alexyee {
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
}
#creation #createurs #creator-content #div-creator-alexyee #creator-content-left-alexyee {
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding-top: 12%;
  flex-direction: column;
  flex-grow: 1;
}
#creation #createurs #creator-content #div-creator-alexyee #creator-content-right-alexyee {
  height: 100vh;
  width: 100%;
  flex-basis: 50%;
  flex-grow: 1;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 12.5% 4vw;
}

#fortiche {
  width: 100vw;
  margin: 0 auto;
  height: 400vh;
  gap: 10vh;
  max-width: 2500px;
}
#fortiche #fortiche-fixed-background {
  display: flex;
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
  height: 100vh;
  position: relative;
  z-index: 1;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-fixed-background #fortiche-logo {
  width: 80%;
  opacity: 1;
}
#fortiche #fortiche-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: relative;
}
#fortiche #fortiche-content #discover-fortiche {
  width: 100vw;
  max-width: 2500px;
  margin: 0 auto;
  margin-bottom: 30vh;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: space-between;
}
#fortiche #fortiche-content #discover-fortiche .div-header {
  display: flex;
  align-items: flex-start;
  gap: 1vh;
  flex-direction: column;
  text-align: center;
  max-height: 300px;
  padding-left: 2vw;
  width: 100%;
  line-height: 1;
  margin-bottom: 5vh;
  margin-top: 2vh;
}
#fortiche #fortiche-content #discover-fortiche .div-header span {
  color: white;
  text-transform: uppercase;
  font-family: "font-arcane";
  font-size: clamp(5rem, 6rem, 2.5vh);
  font-weight: bold;
}
#fortiche #fortiche-content #discover-fortiche .div-header p {
  color: white;
  font-size: clamp(1rem, 1vw, 1.2rem);
  text-transform: uppercase;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: space-between;
  flex-direction: row;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content .split-content {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-left {
  flex-basis: 35%;
  flex-grow: 0;
  width: 50vw;
  align-items: flex-start;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-left p {
  color: white;
  text-transform: uppercase;
  font-size: 2.2vh;
  text-align: justify;
  line-height: 2;
  padding: 12vh 0 0 2vw;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-right {
  flex-basis: 65%;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-right #splide-carousel-fortiche {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-right #splide-carousel-fortiche .splide__track {
  width: 90%;
  height: 70%;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-right #splide-carousel-fortiche .splide__track .splide__list .splide__slide .splide-fortiche-img-container {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  background-color: #3a3a3a;
}
#fortiche #fortiche-content #discover-fortiche #discover-fortiche-content #fortiche-content-right #splide-carousel-fortiche .splide__track .splide__list .splide__slide .splide-fortiche-img-container img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#fortiche #fortiche-content #fortiche-creator {
  display: flex;
  flex-direction: column;
  gap: 30vh;
  margin-bottom: 600px;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure {
  width: 100vw;
  max-width: 2500px;
  height: 60vh;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .wrapper-container {
  width: 100%;
  flex-basis: 35%;
  height: 100%;
  padding: 2vw;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .wrapper-container .img-wrapper {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  overflow: hidden;
  box-shadow: #b58646 0px -1px 20px;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .wrapper-container .img-wrapper .img-figure {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .information-figure-container {
  width: 100%;
  height: 100%;
  flex-basis: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10%;
  justify-content: first baseline;
  padding: 2vw;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .information-figure-container .figure-name-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 2%;
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .information-figure-container .figure-name-container .figure-name {
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
  padding: 2% 2% 0.5% 2%;
  text-transform: uppercase;
  font-size: clamp(1vw, 4vw, 100px);
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .information-figure-container .figure-name-container .figure-role {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  letter-spacing: 2px;
  font-size: clamp(0.5vw, 1vw, 25px);
}
#fortiche #fortiche-content #fortiche-creator .fortiche-figure .information-figure-container .paragraph-figure {
  color: white;
  line-height: 2;
  letter-spacing: 1px;
  word-spacing: 2px;
  max-width: 95%;
  text-transform: uppercase;
  text-align: justify;
  font-size: clamp(1vw, 2vw + 0.5rem, 1rem);
}
#fortiche #fortiche-content #fortiche-creator .div-ad {
  flex-direction: row-reverse;
}
#fortiche #fortiche-content #fortiche-timeline {
  width: 100%;
  max-width: 2500px;
  height: 100vh;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: space-between;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-title-container {
  width: 100%;
  flex: 1 1 10%;
  max-height: 300px;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-title-container #title-timeline {
  color: white;
  text-transform: uppercase;
  font-family: "font-arcane";
  font-size: clamp(5rem, 6rem, 2.5vh);
  font-weight: bold;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container {
  width: 100%;
  flex: 2 1 80%;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track {
  width: 100%;
  height: 100%;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list {
  width: 100%;
  height: 100%;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide {
  position: relative;
  width: 80%;
  height: 80%;
  overflow: hidden;
  border-radius: 25px;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide .img-timeline-slide {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide .project-name-container {
  position: absolute;
  bottom: 3%;
  right: 3%;
  z-index: 1;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide .project-name-container span {
  display: block;
  text-align: right;
  color: rgb(0, 0, 0);
  text-transform: uppercase;
  font-weight: bold;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide .project-name-container .project-name {
  font-size: clamp(1rem, 3vw, 2rem);
}
#fortiche #fortiche-content #fortiche-timeline #timeline-container #timeline-project-fortiche .splide__track .splide__list .splide__slide .timeline-slide .project-name-container .project-date {
  font-size: clamp(1.2rem, 2.5vw, 1.8rem);
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container {
  width: 100%;
  flex: 1 1 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container #timeline-progress-bar {
  background: white;
  border-radius: 25px;
  position: relative;
  height: 10px;
  width: 80%;
  transition: height 0.15s ease;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container #timeline-progress-bar .timeline-point {
  position: absolute;
  top: -2px;
  width: 15px;
  height: 15px;
  transition: all 0.15s ease;
  background-color: #9a5a5a;
  border-radius: 50%;
  cursor: pointer;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container #timeline-progress-bar:hover {
  cursor: pointer;
  height: 15px;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container #timeline-progress-bar:hover .timeline-point {
  height: 20px;
  width: 20px;
}
#fortiche #fortiche-content #fortiche-timeline #timeline-progress-bar-container #timeline-progress-bar #timeline-progression {
  width: 0%;
  border-radius: 25px;
  height: 100%;
  transition: all 0.5s ease;
  background: linear-gradient(to right, #b58646, #e0b96b);
}

/*---- MUSIQUE ---- */
/*---- CRITIQUES & AWARDS ---- */
/*---- MAKING OF ---- */
#float-btn-netflix {
  position: fixed;
  z-index: 100;
  top: 0;
  pointer-events: none;
  right: 0;
  margin: 20px;
  width: clamp(15px, 4vw, 60px);
  opacity: 0;
  height: clamp(15px, 4vw, 60px);
  background: none;
  overflow: hidden;
  border-radius: 50%;
  border: 3px solid #e50914;
  cursor: pointer;
  transition: all 0.5s ease-out;
  transform-origin: right;
}
#float-btn-netflix .a-netflix {
  width: 100%;
  height: 100%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  position: relative;
}
#float-btn-netflix .a-netflix .span-netflix {
  font-family: "Roboto", serif;
  font-size: clamp(12px, 0.5vw, 24px);
  font-weight: bold;
  text-transform: uppercase;
  color: #e50914;
  opacity: 0;
  white-space: nowrap;
  transition: left 0.3s ease-out, opacity 0.3s ease-out;
  position: absolute;
  left: 120%;
}
#float-btn-netflix .a-netflix svg {
  fill: #e50914;
  width: clamp(12px, 2vw, 40px);
  transition: all 0.2s ease;
}
#float-btn-netflix:hover {
  border-radius: 15px;
  width: clamp(100px, 10vw, 300px);
  opacity: 1;
  padding-right: 14px;
}
#float-btn-netflix:hover .a-netflix {
  justify-content: flex-start;
  padding-left: 2px;
}
#float-btn-netflix:hover .a-netflix .span-netflix {
  left: 25%;
  opacity: 1;
}
#float-btn-netflix.show-floating-button {
  pointer-events: all;
  opacity: 1;
}

#float-btn-back {
  position: fixed;
  z-index: 100;
  bottom: 0;
  right: 0;
  margin: 20px;
  width: clamp(15px, 4vw, 60px);
  height: clamp(15px, 4vw, 60px);
  opacity: 0;
  background: none;
  overflow: hidden;
  border-radius: 50%;
  cursor: pointer;
  transition: opacity 0.5s ease;
  background: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
#float-btn-back svg {
  transition: all 0.25s ease-out;
  fill: white;
}
#float-btn-back::before {
  content: "";
  position: absolute;
  inset: -3px;
  border-radius: inherit;
  padding: 5.5px;
  background: linear-gradient(to right, #b58646, #e0b96b);
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
          mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  -webkit-mask: linear-gradient(white, white) content-box, linear-gradient(white, white);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
}
#float-btn-back.show-floating-button {
  opacity: 1;
}
#float-btn-back.show-floating-button:hover svg {
  transform: translateY(-2px);
}/*# sourceMappingURL=accueil.css.map */